<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/main-js.js" defer></script>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/main-style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Test</title>
</head>
<body>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="navbar-title" class="navbar-item" href="#">unFollowIG</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">
      <a id="documentation" class="navbar-item" href="#">
        Documentation
      </a>
    </div>
  </div>
</nav>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-7">
          <figure class="image is-16by9">
            <img src="/img/logo.webp" alt="unFollowIG-Logo" style="object-fit: cover; width: 100%; height: 100%;">
          </figure>
        </div>

        <div id="hero-text" class="column is-5">
          <div class="container is-mobile">
              <h1 class="title">unFollowIG</h1>
              <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, tempora.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="transition-banner" class="section">
  <div class="container">
    <h2 class="title">
      Just paste your info down here...
    </h2>
    <p class="subtitle is-4">
      We will take care of the rest.
    </p>

  </div>
</section>

<section id="help-link" class="section pt-4 pb-2 has-text-centered">
  <p class="is-size-6">
    Don’t know how? 
    <a href="#">Check our documentation</a>
  </p>

<section id="text-box-container" class="section">
  <div class="container">
    <div class="columns is-variable is-6">
      
      <div class="column is-6">
        <div class="field label-wrapper">
          <label class="label has-text-weight-semibold" for="followers">Followers:</label>
          <div class="control">
            <textarea id="followers" class="textarea is-medium is-rounded" placeholder="Paste your followers here..."></textarea>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="field label-wrapper">
          <label class="label has-text-weight-semibold" for="following">Following:</label>
          <div class="control">
            <textarea id="following" class="textarea is-medium is-rounded" placeholder="Paste your following here..."></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="footer has-background-light">
  <div class="content has-text-centered">
    <p>
      <strong>unFollowIG</strong>| @ndamatta | Bulma</a>
    </p>
  </div>
</footer>
</body>
</html>