:root {
  --primary-color: #f14668;
  --primary-hover: #ff3860;
  --primary-hover-bg: rgba(255, 56, 96, 0.1);
  --bg-dark: #1f2a30;
  --text-light: #ffe3e6;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Navbar */
.navbar {
  background-color: var(--bg-dark);
}

.navbar span {
  color: var(--text-light);
}

.navbar a {
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.navbar a:hover {
  transform: scale(1.01);
  color: var(--primary-hover);
  background-color: var(--bg-dark);
}

.navbar a:focus {
  background-color: transparent;
}

#navbar-title {
  font-size: 1.3rem;
  margin-left: 1rem;
  transition: color 0.2s ease;
}

#navbar-title:hover {
  color: var(--primary-hover);
}

/* Transition banner */
#transition-banner {
  background-color: var(--bg-dark);
  text-align: center;
}

#transition-banner .title,
#transition-banner .subtitle {
  color: var(--primary-color);
}

/* Help link */
#help-link p {
  color: var(--bg-dark);
}

#help-link a {
  display: inline-block;
  text-decoration: underline;
  color: var(--bg-dark);
  transition: all 0.2s ease;
}

#help-link a:hover {
  transform: scale(1.025);
  color: var(--primary-hover);
  text-decoration: none;
}

/* Text box and labels */
#text-box-container textarea {
  min-height: 150px;
  padding: 0.75rem;
  resize: vertical;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

#text-box-container textarea:focus {
  box-shadow: 0 0 0 2px var(--primary-hover);
  border-color: transparent;
}

.label-wrapper {
  position: relative;
}

.label-wrapper:focus-within .label {
  background-color: var(--primary-hover);
  color: var(--bg-dark);
  border-radius: 7px;
  padding: 0 0.5rem;
  display: inline-block;
  animation: fadeSlide 0.3s ease forwards;
}

.footer {
  padding: 2rem 1.5rem;
  background-color: #f4f4f4;
  font-size: 0.9rem;
}

/* Button */
#textarea-button, #p404-button {
  background-color: var(--bg-dark);
  color: white;
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease;
}

#textarea-button:hover {
  transform: scale(1.01);
}

/* Unfollowers result */
#unfollowers h2 {
  display: inline-block;
  padding: 1rem;
  margin: 4rem 0 1rem 0;
  color: var(--bg-dark);
  border: 5px solid var(--primary-color);
  border-radius: 30px;
}
#unfollowers h2.success {
  display: inline-block;
  padding: 1rem;
  margin: 4rem 0 1rem 0;
  color: var(--bg-dark);
  border: 5px solid green;
  border-radius: 30px;
}
#unfollowersAccounts li {
  margin: 1.3rem 0rem;
}

/* Documentation */
.menu-list a.is-active {
  background-color: #f14668;
  color: white;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translate(1px, -1px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  #hero-text {
    text-align: center;
  }

  #hero-text h1 {
    margin-bottom: 1rem;
  }

  .column {
    margin-bottom: 2rem;
  }
}
